* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.segment {
  font-size: 0;
}

.row {
  text-align: center;
}

.brick-wrapper {
  display: inline-block;
  position: relative;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
}

.brick-wrapper:first-child {
  border-left: none;
}

.brick {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: #a66;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.brick.disabled {
  background: #eee;
  cursor: default;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 16px;
}

.brick:hover:not(.disabled) {
  box-shadow: 0 2px 10px rgba(0,0,0, .8);
  z-index: 1;
}

.brick.disabled:hover + .tooltip {
  display: block;
}


.xs {
  font-size: 10px;
  line-height: 10px;
  height: 16px;
  width: 26px;
  padding: 3px;
}

.sm {
  font-size: 12px;
  line-height: 15px;
  height: 25px;
  width: 43px;
  padding: 5px;
}

.md {
  font-size: 14px;
  line-height: 26px;
  height: 40px;
  width: 64px;
  padding: 7px;
}

.lg {
  font-size: 20px;
  line-height: 50px;
  height: 70px;
  width: 130px; 
  padding: 10px;
}